.activeexchanges {
    
        &__wrap { 
            @include flex($jc: center);
            grid-gap: 24px;
            // width: 131px;/*фиксируем ширину обертки*/ 
            // margin: 0 auto;/*центрируем ее*/ 

        }   

        &__bblock { 
            // align-items: flex-start;
            // float: left; /*Задаем обтекание*/ 
            // line-height: 120px;/*Высота строки + верт. центрирования текста*/
            // font-size: 15px;
            // padding: 10px;
            border: 1px solid $c-brand; /* размер и цвет границы блока */
            background: lightgray;
            height: 270px;
            text-align: center;
            border-radius: 4px;
            // color: white;
            // height: 270px;
            // padding: 10px;
            // margin: 10px;
            width: 230px; /*Фиксируем ширину блока*/ 
            // margin-right: -50px;
            // margin-top: 10px;
            // text-align: center; /*Центрируем текст по горизонтали*/ 
        } 


        &__text{
            align-items: center;
        }


}