.news{
    @include flex($ai: center, $fd: column);

 

    // &__block1 {
    //     float: left;
    //     display:flex;
    //     height: 80px;
    //     width: 40%;
    //     background-color: #bc1155;
    //     margin: 2px;
    //     padding: 20px;
    //     }
        
    // &__block2 {
    //     // float: right;
    //     display: flex;
    //     height: 380px;
    //     width: 50%;
    //     background-color: #e1e3e6;
    //     margin: 2px;
    //     }

        // &__tabs {
            // @include flex($fd: row);
            // width: 100%;
            // padding: 0;
            // background-color: #e1e3e6;
          //}
        

          // &__section {
          //   //добавили
          //   display: none;
          // }
          // &__section .active {
          //   background-color: red;
          //   color: #bc1155;
          //   //добавили
          //   display: block;
          // }

          // &__prover {
          //   display: none;
          // }
          // &__section {
          //   //добавили
          //   display: none;
          // }
          // &__section .active {
          //   //добавили
          //   justify-content: flex-end;
          // }
        
          &__tabs {
            @include flex($fd: column);
            // margin: 0px 60px 0px -100px;
            // width: 100%;
            // padding: 0;
          }
        
        
          &__tab {
            @include flex($jc: left);
            background-color: white;
            width: 100%;
            padding: 20px;
            border: 1px solid gray;
            border-radius: 5px 5px 5px 5px;
            transition: 0.2s ease-in-out background-color;
            height: 32px;
        
            &:hover {
              background-color: $c-brand;
              color: $c-white;
            }
        
            &--active {
              background-color: $c-brand;
              color: $c-white;
            }
          }
        

//   &__tab {
//     @include flex($jc: left);
//     background-color: white;
//     width: 30%;
//     padding: 20px;
//     border: 1px solid gray;
//     border-radius: 5px 5px 5px 5px;
//     transition: 0.2s ease-in-out background-color;
//     height: 32px;

//     &:hover {
//         background-color: $c-brand;
//         color: $c-white;
//       }
//     }
//     &__content {
//         @include flex();
//       }
      
      &__teg {
        background-color: $c-white;
        display: inline-block;
        margin-top: 80cm;
        // text-align: center;
        // display: flexbox;
        // margin-top: 70px;
        // margin-bottom: 16px;
        // padding-bottom: 10px;
        // border-bottom: 1px solid $c-brand;
        margin: 10px;
        // top: -40px;
      }
}

          .container {
            @include flex($jc: left);
            align-items: flex-start;
            width: 115%;
            // align-items: baseline;
            padding: 20px 100px 30px 30px;
            // width: 100%;
            background-color: $c-white;
            // border-radius: 10px;
            // margin-bottom: 0px;
             left: 20px;

           
          } 
       

        //   .h1 {
        //     display: flex;
        //     font-size: 2em;
        //     margin-block-start: 0.67em;
        //     margin-block-end: 0.67em;
        //     margin-inline-start: 0px;
        //     margin-inline-end: 0px;
        //     font-weight: bold;
        // }