.block {
  &--first {
    padding-top: 94px;
  }
  padding-top: 64px;
  animation: fadeIn 0.3s 0.3s ease forwards;

  max-width: 1120px;
  margin: auto;

  &--md {
    max-width: 990px;
  }
}

.profile {
  @include flex($fd: row, $jc: space-around, $ai: flex-start);
  gap: 80px;
  width: 100%;

  h2 {
    margin-top: 0px;
  }

  &__block {
    padding: 20px;
    background-color: $c-white;
    border-radius: 10px;
    margin-bottom: 30px;

    h4 {
      margin-top: -10px;
      margin-bottom: -16px;
      padding-bottom: 10px;
      border-bottom: 1px solid $c-brand;
    }
  }

  &__description {
    width: 100%;
    text-align: left;
    @include flex($jc: flex-end, $fd: column, $ai: flex-start);
  }

  &__tabs {
    @include flex($jc: flex-end, $fd: row, $ai: flex-start);
    margin-top: 10px;
    gap: 40px;
  }

  &__stat {
    margin-bottom: 6px;

    &--grey {
      color: $c-grey;
    }
  }

  &__name {
    margin-left: 10px;
  }

  &__rechead {
    @include flex($ai: center)
  }

  &__content {
    

    &--profile{
border-bottom: 1px solid $c-brand;
    padding: 32px 0;
    }
  }  

  &__text {
    margin-bottom: 15px;
    display: block;
  }

  &__container{
    width:100%
  }
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}



 .inlineBlock { 
  height: 500px;
  padding: 20px;
  background-color: $c-white;
  border-radius: 10px;
  margin-bottom: 30px;

  h4 {
    margin-top: -10px;
    margin-bottom: -16px;
    padding-bottom: 10px;
    border-bottom: 1px solid $c-brand;
  }
  }

  .inlineBlock1 { 
    position: relative;
    width:250px; 
    height:450px; 
    background: #e1e3e6; 
    float:left; 
    margin: 0 15px 15px 0; 
    text-align:center;
    padding: 20px;
    }

    .inlineBlock2 { 
      position: relative;
      width:650px; 
      height:450px; 
      background: #e1e3e6; 
      float:left; 
      margin: 0 15px 15px 0; 
      text-align:center;
      padding: 20px;
      }

      .text3{
        font-size: 2.1ch;
        top: 40px;
        margin: 10px -1px 0px -10px;
        padding: 2px;
        display: block;
        position: relative;
        text-align: left;
      }

      .col3 {
        height: 100px;
        width: 33.333%; /* Можно задать любую другую ширину блока */
        background: grey;
        margin: .5rem;
      }
      
      .row {
        height: 700px;
        width: 1800px;
        // display: flex;
        // flex-flow: row nowrap;
        flex-direction: column;
      }

      .text4{
        font-size: 2.1ch;
        margin: 0px;
        padding: 2px;
        display: block;
        position: relative;
        text-align: left;
      }



