
// .wrap { 
//     width: 131px;/*фиксируем ширину обертки*/ 
//     margin: 0 auto;/*центрируем ее*/ 
//     background: darkgray; 
//     height: 120px;/*Задаем высоту обертки*/ 
// }   

.bblock { 

border: 1px solid $c-brand; /* размер и цвет границы блока */
border-radius: 4px;
overflow-y: scroll;
    // float: left; /*Задаем обтекание*/ 
    // line-height: 120px;/*Высота строки + верт. центрирования текста*/
    // font-size: 15px;
    padding: 30px;
    background-color: $c-background;
    // scroll-behavior: smooth;
    // background: lightgray;
    // // color: white;
    height: 130px;
    // padding: 10px;
    width: 480px; /*Фиксируем ширину блока*/ 
    // margin-right: -50px;
    // margin-top: 10px;
    // text-align: left; /*Центрируем текст по горизонтали*/ 
} 

.h{
    margin-top: -220px;
    // margin: 130px 530px 180px 340px;
}

